@import '../vars';

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 480px;
  margin: 0 auto;
  button{
    margin-top: 3rem;
    //background: $RED_COLOR;
    &:hover{
      //background: $AD_COLOR;
    }
    a{
      width: 100%;
      height: 100%;
    }
  }
  button, input, label{
    font-size: 1.4rem;
  }

}

.button_wrapper{
  width: 100%;
  height: 2rem;
  display: flex;
  align-items:start;
  justify-content: start;
  a{
    text-decoration: none;
  }
}


.registration_wrapper{
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
}

.form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}