@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'vars';

html {
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #111;
}

::-webkit-scrollbar-track {
    background: #b2b2b2;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.container {
    margin: 0 auto 0 auto;
}

.App {
    width: 100vw !important;
}
